/* Write your CSS here! */

/* Do not change the CSS below. */

.header {
  background: #4242ea;
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;

  
}
.primary-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
}
.sidebar{
grid-column: 1/2;
}
.main{
  grid-column: 2/5;

}

.menu ul {
  padding: 0;
}
.joinpursuit{
  margin-right: 700px;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
